@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.googlesans { font-family: 'Google Sans', sans-serif; }

@media (min-width: 768px) {
.rounded-start-lg {
  border-radius: 0.5rem 0 0 0.5rem;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.shadow-lg-lg {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
}
@media (min-width: 992px) {
.t-fs{
  font-size:1.2rem;
}
}  

.btn-violet{
  background-color: #00193D;
}

.text-violet{
  color: #00193D;
}

.inputl {
    height: 60px;
    outline: none;
} 

.it {
  transform: translateY(-0.7rem);
} 

.lt {
  transform: translateZ(20rem);
} 

.form-control.is-invalid, .was-validated .form-control:invalid{
  background-image: none;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.text-grayl{
  color: #C7C7C7;
}