@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.googlesans { font-family: 'Google Sans', sans-serif; }

@media (min-width: 768px) {
.rounded-start-lg {
  border-radius: 0.5rem 0 0 0.5rem;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.shadow-lg-lg {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
}
@media (min-width: 992px) {
.t-fs{
  font-size:1rem;
}
.text-ws {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 2vw; /* adjust the value as needed */
}
.w-col{
  max-width: 40%;
}
}

@media (min-width:1200px){
  .text-ws {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 8vw; /* adjust the value as needed */
  }
}

.btn-violet{
  background-color: #00193D;
  border:none;
}

.wbtn{
  background-color: #FFFFFF;
}

.wbtn:active, .wbtn:hover, .wbtn-check:checked+.wbtn, .wbtn.active, .wbtn.show, .wbtn:first-child:active, :not(.wbtn-check)+.wbtn:active{
  background-color: #FFFFFF;
}

.wbtn:focus-visible{
  background-color: #FFFFFF;
  box-shadow: none;
}

.custom-accordion .accordion-button:focus {
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
  outline: none;
  background-color: #eee;
  color: #00193D;
}

.accordion-button:not(.collapsed){
  color:black;
  background-color: #eee;
}

.accordion-button:not(.collapsed)::after{
background-image:var(--bs-accordion-btn-icon);
}

.audioplay {
  height: 20px;
  left: -10px;
  position: relative;
  max-width: 250px;
}

.picon{
  margin-top:-1rem;
  background-color: #6C98E1;
}
.picon:active, .picon:hover, .picon-check:checked+.picon, .picon.active, .picon.show, .picon:first-child:active, :not(.picon-check)+.picon:active{
  background-color: #6C98E1;
  border:none;
}

.picon:focus-visible{
  background-color: #6C98E1;
  box-shadow: none;
  border: none;
}

.rx .form-check-input{
  margin-top: 0%;
}

audio::-webkit-media-controls-panel {
  background-color: #FFFFFF;
  padding: 0%;
}

.text-violet{
  color: #00193D;
}

.inputl {
    height: 50px;
    outline: none;
} 

.it {
  transform: translateY(-0.7rem);
} 

.lt {
  transform: translateZ(20rem);
} 

.form-control.is-invalid, .was-validated .form-control:invalid{
  background-image: none;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.text-grayl{
  color: #C7C7C7;
}

.sbtn:active, .sbtn:hover, .sbtn-check:checked+.sbtn, .sbtn.active, .sbtn.show, .sbtn:first-child:active, :not(.sbtn-check)+.sbtn:active{
  background-color: #00193D;
}

.sbtn:focus-visible{
  background-color: #00193D;
  box-shadow: none;
}

.sbtn.disabled, .sbtn:disabled, fieldset:disabled .sbtn{
  background-color: #00193D;
}

.text-select-one {
  user-select: none;
}

.card-violet{
  background-color: #6C98E1;
}

.bg-light-violet{
  background-color: #E5EAF5;
}

.custom-scroll::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px white; 
}
 
/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  background: #00193D; 
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #00193D; 
}

.inputl:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: white !important;
  color: black !important;
}

.border-violet{
  border-color: paleturquoise;
}